@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";



  
  * {
    box-sizing: border-box;
  }

  /* Add a gray background color with some padding */
  body {
    font-family: Arial;
    padding: 20px 50px ;
    background: url(../background.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .title{
    margin: 0;
    color: black;
    text-align: center;
  }

  .akun {
    padding: 40px;
    background-color: aquamarine;
    border-radius: 50%;
    text-align: right;
  }

  .logo{
    padding: 10px;
  }
  .logo img {
    width: 80px;
  }

  .category .col {
    background-color: cadetblue;
    margin: 5px;
    border-radius: 18px;
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }

  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }

  /* Add a card effect for articles */
  .card_ {
    background-color: white;
    padding: 24px;
    margin-top: 20px;
    border-radius: 18px;
  }
  .card_ input {
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
      width: 100%;
      padding: 0;
    }
    body {
      background: url(../background.jpg);
      background-position: 55% -50px;
  }
  }